<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template - Consulta Ginecologia</title>
</head>
<body>
  <h4>Consulta Ginecologia</h4></br></br></br>

  <p><strong>Nome Completo: ____________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Data de Nascimento: _________________ </strong> <strong>Idade: _________&nbsp;</strong></p>
  <p>&nbsp;</p>
  <p><strong>Sexo: ___________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Motivo da Consulta: _______________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Queixa Principal:&nbsp;</strong></p>
  <p><strong>_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Hist&oacute;ria da Doen&ccedil;a Atual:</strong></p>
  <p><strong>_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Antecedentes Familiares:</strong></p>
  <p><strong>_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</strong></p>
  <p><br /><br /><br /><br /><br /><br /></p>
  <p><strong>Antecedentes Pessoais:</strong></p>
  <p><strong>_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Atividade F&iacute;sica:</strong></p>
  <p><strong>_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>LSDA</strong></p>
  <p><strong>Cabe&ccedil;a e Pesco&ccedil;o:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Mamas:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Cardiorrespirat&oacute;rio:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Gastrointestinal:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Urin&aacute;rio:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Genital:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><br /><br /></p>
  <p><strong>Pr&aacute;ticas:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Antecedentes Ginecol&oacute;gicos</strong></p>
  <p><strong>Pubarca:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Telarca:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Menarca:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Ciclos:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Dismenorreia:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Tens&atilde;o Pr&eacute;-Menstrual:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>DUM:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Cirurgia Pr&eacute;via:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><br /><br /><br /><br /></p>
  <p><strong>Orgasmo:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Dispareunia:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Frequ&ecirc;ncia:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Sangramento ao Coito:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Antecedentes Obst&eacute;tricos</strong></p>
  <p>&nbsp;</p>
  <p><strong>Gesta&ccedil;&otilde;es:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Paridade:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Puerp&eacute;rio:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Amamenta&ccedil;&atilde;o:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><br /><br /><br /><br /><br /><br /></p>
  <p><strong>Exame F&iacute;sico Geral:</strong></p>
  <p><strong>_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Exame Ginecol&oacute;gico:</strong></p>
  <p><strong>_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Trato Genital</strong></p>
  <p><strong>Pilifica&ccedil;&atilde;o e Trofismo:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Clit&oacute;ris:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Grandes L&aacute;bios e Vest&iacute;bulo:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Vagina Especular e Toque:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Colo Especular e Toque:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Toque Vaginal - &uacute;tero:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><br /><br /></p>
  <p><strong>Toque Vaginal - Anexos e Ligamentos:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Achados Relevantes:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Hip&oacute;tese Diagn&oacute;stica:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p>&nbsp;</p>
  <p><strong>Conduta:</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
  <p><strong>_____________________________________________________________________________</strong></p>
</body>
</html>
