html:focus-within {
  scroll-behavior: smooth !important;
}

body,
section,
footer {
  background: var(--white);
  color: var(--primary-text);
  height: auto;
}

p {
  margin: 0;
}

h1 {
  line-height: normal;
}

h3 {
  font-size: inherit;
  font-weight: normal;
  line-height: normal;
}

b {
  color: var(--dark-blue);
}

img {
  align-self: center;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.invisible-anchor {
  display: block;
  position: relative;
  top: -8vh;
  visibility: hidden;
}

.content {
  padding: 40px 0;
}

.content,
.title {
  margin-inline: auto;
  max-width: 1200px;
}

.grid {
  display: grid;
  gap: 20px;
}

.section-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.section-right {
  display: flex;
  height: 100%;
  margin-inline: auto;
  position: relative;
}

.title h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
}

.title p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-inline: auto;
}

@media (max-width: 1200px) {
  .content.grid {
    padding-inline: 40px !important;
  }
}

@media (max-width: 768px) {
  .invisible-anchor {
    top: 0;
  }

  .content {
    max-width: 700px;
  }

  .content.grid {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
  }

  .grid>.section-right {
    order: 1;
  }

  .grid>.section-left {
    order: 2;
  }
}

@media (max-width: 375px) {
  .content {
    max-width: 320px;
  }

  .section-left h1 {
    font-size: 2.4rem;
  }

  .section-left p {
    font-size: 1rem;
  }

  .title h2 {
    font-size: 2.2rem !important;
  }
}